@model JobShop.Models.Employer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<div>
        <h4>Employer Detail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmailAdress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailAdress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HireDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HireDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Designation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Designation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Salary)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Salary)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PersonalWebsite)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PersonalWebsite)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Department)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Company)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Company)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Department)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>
            <dd>
                <img src="~/employers/@Html.DisplayFor(Model=>Model.Photo)"
                     class="thumbnail" style="width:140px; height:140px" />
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EmployerId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
